h1{
font-family: fantasy;
font-size: 30px;
colour:indigo;
text-align: center;
font-style: italic;
font-weight: bolder;
}
body{
  background-color:blue;
}

.block{
display: block;
hieght:30px
border:no boders
background-colour:blue
colour:pink
font size:20px
  text align:center;
}
